# global OS stuff
.DS_Store
Thumbs.db

# global editor stuff
.idea/
.vscode/
*.swp

# global node
node_modules/

# log files
*.log

# env files
.env
.env.*

# formflow-fe
formflow-fe/dist
formflow-fe/node_modules
formflow-fe/.env
