@import 'tailwindcss';

@theme {
  --color-indigo-50: #edf2ff;
  --color-indigo-100: #dbe4ff;
  --color-indigo-200: #bac8ff;
  --color-indigo-300: #91a7ff;
  --color-indigo-400: #748ffc;
  --color-indigo-500: #5c7cfa;
  --color-indigo-600: #4c6ef5;
  --color-indigo-700: #4263eb;
  --color-indigo-800: #3b5bdb;
  --color-indigo-900: #364fc7;

  --color-green-50: #ebfbee;
  --color-green-100: #d3f9d8;
  --color-green-200: #b2f2bb;
  --color-green-300: #8ce99a;
  --color-green-400: #69db7c;
  --color-green-500: #51cf66;
  --color-green-600: #40c057;
  --color-green-700: #37b24d;
  --color-green-800: #2f9e44;
  --color-green-900: #2b8a3e;
}
